@font-face {
  font-family: "Gilroy";
  font-weight: 700px;
  src: url(../assets/fonts/Gilroy-Regular.ttf) format('ttf');
}

@font-face {
  font-family: "Lato";
  font-weight: 400px;
  src: url(../assets/fonts/Lato-Regular.ttf) format('ttf');
}
