$black-color: #000000;
$name: #1A1C1D;
$part-color: #f3ef12;
$main-background:  #E5E5E5;
$section-background: #FFFFFF;
$border: #ECEEF5;
$add-button: #6B59CC;
$gray-color: rgb(158, 154, 154);
$backdrop-color: rgba(0, 0, 0, 0.542);
$box-shadow: rgb(0 0 0 / 92%);
$score-color: #81c926;
