@import '../../styles/mixin';
@import '../../styles/variables';
@import '../../styles/fonts';

.leadersItem {

  &__item {
    list-style: none;
    @include displayFlex(null, center, null);
  }

  &__place {
    width: 22px;
		height: 21px;
    margin-left: 34px;
		font: normal bold 20px/21px "Gilroy";
		color: $place-color;
  }

  &__img {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    margin-left: 33px;
  }

  &__score {
    font: normal bold 30px/21px "Gilroy";
    color: $name;
    opacity: 0.91;
    margin-left: 42px;
  }

  &__name {
    font: normal normal 14px/21px "Lato";
    color: $name;
    margin-left: 33px;
    margin-right: auto;
  }

  &__edit {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0 33px;
  }

  &__green {
		color: $score-color;
		@extend %leadersItem;
    @extend %leadersRank;

		&::before {
			content: url(../../images/arrowGreen.png);
      display: block;
      margin-right: 5px;
		}
	}

	&__yellow {
		color: $score-yellow;
		@extend %leadersItem;
    @extend %leadersRank;

		&::before {
			content: url(../../images/arrowYellow.png);
      display: block;
      margin-right: 5px;
		}
	}

	&__red {
		color: $score-red;
		@extend %leadersItem;
    @extend %leadersRank;

		&::before {
			content: url(../../images/arrowRed.png);
      display: block;
      margin-right: 5px;
		}
	}
}

%leadersItem {
	display: flex;
	font: normal normal 14px/22px;
	width: 125px;
};

%leadersRank {
  margin-left: auto;
}
